

@import "tailwindcss";


@theme {
  /* Text colors */
  --color-text: #FFFFFF;
  --color-text-black: #000000;


  /* Background (Indigo palette) */
  --color-bg-50:  #EEF2FF;
  --color-bg-100: #E0E7FF;
  --color-bg-200: #C7D2FE;
  --color-bg-300: #A5B4FC;
  --color-bg-400: #818CF8;
  --color-bg-500: #6366F1;
  --color-bg-600: #4F46E5;
  --color-bg-700: #4338CA;
  --color-bg-800: #3730A3;
  --color-bg-900: #312E81;

  /* Hover (Orange palette) */
  --color-hover-50:  #FFF7ED;
  --color-hover-100: #FFEDD5;
  --color-hover-200: #FED7AA;
  --color-hover-300: #FDBA74;
  --color-hover-400: #FB923C;
  --color-hover-500: #F97316;
  --color-hover-600: #EA580C;
  --color-hover-700: #C2410C;
  --color-hover-800: #9A3412;
  --color-hover-900: #7C2D12;

  --color-border-50:  #F9FAFB;
  --color-border-100: #F3F4F6;
  --color-border-200: #E5E7EB;
  --color-border-300: #D1D5DB;
  --color-border-400: #9CA3AF;
  --color-border-500: #6B7280;
  --color-border-600: #4B5563;
  --color-border-700: #374151;
  --color-border-800: #1F2937;
  --color-border-900: #111827;

  /**/
  --color-bg:#ffffff;

    /* BG color for service component*/
  --color-serv-1:#ffe7da;
  --color-serv-2:#f5f5f5;
  --color-serv-3:#fff6e0;
  --color-serv-4:#ff5723;
                  

}

